//Переменные

$regular-font: 'Ruda', sans-serif;
$title-font: 'FiraSansExtraCondensed', sans-serif;
$accent-font: 'Andika-Regular', serif;
$prime-color: #FBAD03;
$text-color: #FFFAFA;
$accent-color: #DC143C;
$mobile-width: 786px;

//Дефолтные стили

body {
  font-family: $regular-font;
  color: $text-color;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $regular-font;
  margin: 0;
  font-weight: normal;
}

a {
  color: $text-color;
  transition: 0.3;

  &:hover,
  &:focus,
  &:active {
    color: $prime-color;
    text-shadow: 0px 0px 20px #FBAD03;
  }
}

a[class] {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  appearance: none;
  background-color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  max-width: 1300px;
  padding: 120px 30px 0;
  margin: 0 auto;
  height: 100%;
}

@media (min-width: 2000px) {
  body {
    font-size: 1vw;
  }
  .wrapper {
    max-width: 80%;
    padding: 6vw 30px 0;
  }
}