body {
  background-color: #0A0A0A;
}

.slider {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  & > .swiper-wrapper {
    height: 100vh;
    width: 100vw;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    width: 5vw;
    height: 5vw;
    background:  #281E09 url('../img/arrow.svg') no-repeat center/ 70%;
    box-shadow: 3px 4px 20px 2px rgba(229, 229, 229, 0.31);
    border-radius: 0px 25px 0px 0px;
    position: absolute;
    left: 0;
    opacity: 0.5;
    transition: 0.3s;

    &::after {
      display: none;
    }

    &.swiper-button-disabled {
      height: 0;
      overflow: hidden;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      box-shadow: inset 3px -4px 20px 2px rgba(229, 229, 229, 0.5);
      opacity: 1;
    }
  }

  & .swiper-button-next {
    top: auto;
    bottom: 0;
    border-radius: 25px 0 0 0;
    transform: rotate(-180deg);
    opacity: 0;
  }

  & .swiper-button-prev {
    top: auto;
    bottom: 5vw;
  }

  .swiper-button-next.swiper-button-disabled ~ .swiper-button-prev {
    bottom: 0;
  }

  & .swiper-slide {
    background-color: #0A0A0A;
  }
}

//Animation 
.loaded {
  & .slider .swiper-button-next {
    opacity: 0.5;

    &:hover,
    &:focus,
    &.active {
      opacity: 1;
    }
  }
}

@media (max-width: $mobile-width), (orientation: portrait) {
  .slider .swiper-button-next,
  .slider .swiper-button-prev {
    display: none;
  }

  .slider {
    height: 100%;
    width: 100%;
  
    & > .swiper-wrapper {
      //height: 100%;
      width: 100%;
    
      & > .swiper-slide {
        min-height: 102vh;
        height: auto;
      }
    }
  }
}
