.button {
  @include no-btn();
  background: $prime-color;
  box-shadow: 0px 2px 20px rgba(251, 173, 3, 0.89);
  border-radius: 25px;
  align-items: center;
  padding: 10px 40px 9px;
  font-weight: bold;
  color: #281E09;
  transition: 0.3s;
  font-size: 14px;

  &:hover,
  &:focus {
    background: #DD9904;
    box-shadow: 2px 5px 20px 2px #A17006;
  }

  &:active {
    background: #DD9904;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
