.fifth-screen {
    background-image: url('../img/five.webp');
    background-position: right top;
    background-size: cover;
}

.review {
    width: 750px;
    height: 70%;
    margin: 5vh auto 0;
    transform: rotate(180deg);
    transition: 1s cubic-bezier(0.1, 0.39, 0, 1.12);
}

.review__slide {
    display: flex;
    align-items: center;
    background: url('../img/overlay.webp') no-repeat center/cover;
    border-radius: 25px;
    box-shadow: inset 0px 7px 11px -4px rgba(255, 255, 255, 0.5), inset 0px 98px 100px -48px rgba(100, 71, 7, 0.3), inset 0px 1px 40px rgba(251, 173, 3, 0.3);
    padding: 3vh;
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.45) !important;
    height: auto;
    filter: grayscale(1);
    

    &::before {
        content: "";
        position: absolute;
        background: inherit;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.45);        
        filter: blur(10px);       
        border-radius: 25px;
    }

    .review__body {
        display: none;
    }

    .review__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.swiper-slide-active {
        filter: grayscale(0);

        .review__body {
            display: block;
            width: 50%;
            max-height: 100%;
            padding-left: 4%;
            font-size: 16px;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            & p {
                margin-bottom: 10px;
            }
        }

        .review__img {
            width: 50%;
            height: auto;
            max-height: 100%;
        }
    }
}

.review__title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.review__name {
    text-align: right;
    font-family: $accent-font;
    font-size: 30px;
    margin-top: 30px;
    color: $prime-color;
}

.swiper-next,
.swiper-prev {
    width: 75px;
    height: 75px;
    background:  rgba(40, 30, 9, 0.5) url('../img/arrow.svg') no-repeat center/50%;
    box-shadow: 3px 4px 20px 2px rgba(229, 229, 229, 0.31);
    border-radius: 25px;
    transition: 0.3s;
    display: inline-block;
    position: absolute;
    bottom: -15%;
    left: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color:  rgb(40, 30, 9);
    }

    &:active {
        box-shadow: inset 3px -4px 20px 2px rgba(229, 229, 229, 0.5);
        background-color:  rgb(40, 30, 9);
    }

    &.swiper-button-disabled {
        opacity: 0.3;
        cursor: default;
    }
}

.swiper-next {
    transform: translateX(100%) rotate(90deg);
}

.swiper-prev {
    transform: translateX(-100%) rotate(-90deg);
}

//Animation
.swiper-slide-active.fifth-screen {
    .review {
        transform: rotate(0);
    }
}

@media (min-width: 2000px) {
    .swiper-next, .swiper-prev {
        width: 4vw;
        height: 4vw;
    }

    .review {
        width: 50%;
        height: 77%;
    }

    .review__title {
        font-size: 1.4vw;
    }

    .review__slide.swiper-slide-active .review__body {
        font-size: 1vw;
    }

    .review__name {
        font-size: 1.8vw;
    }
  }

  @media (max-width: $mobile-width), (orientation: portrait) {
    .review {
        width: 100%;
        height: calc(100vh - 150px);
        margin-top: 0;
        transform: rotate(0);
        padding-bottom: 70px;

        & > .swiper-wrapper {
            width: 100%;
            height: 100%;
        }
    }

    .review__slide {
        filter: grayscale(0);
        
        & .review__body {
            display: block;
        }
    }

    .review__title {
        font-size: 20px;
        text-align: center;
    }

    .review__name {
        font-size: 20px;
    }

    .swiper-next,
    .swiper-prev {
        width: 50px;
        height: 50px;
        bottom: 10px;
    }

    .review__slide .review__img {
        width: auto;
        height: auto;
    }
  }

  @media (max-width: 768px) {
    .review {
        height: 100%;
    }

    .review__slide {
        flex-wrap: wrap;
    }

    .review__img {
        display: block;
        margin: 0 auto 15px;
    }

    .review__slide .review__body,
    .review__slide.swiper-slide-active .review__body {
        width: 100%;
        padding: 0;
    }
  }