.first-screen {
    background-image: url('../img/about-n.webp');
    background-position: right top;
    background-size: cover;
}

.first-screen__wrapper {
    position: relative;
    height: auto;
    margin-top: 12vh;

    & .header__button {
        font-size: 1.6vw;
        padding: 1.4vw 3vw 1.3vw;
        margin: 5vh 0 0 8vw;
    }
}

.first-screen__title {
    font-size: 8vw;
    line-height: 1;

    & .bottom {
        display: block;
        color: $prime-color;
        margin-left: 3vw;
        transform: translateX(100%);
        opacity: 0;
        transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
    }

    & .top {
        display: block;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
    }
}

.first-screen__slogan {
    position: absolute;
    top: 150px;
    left: 23vw;
    width: 16vw;
    font-size: 1.4vw;
    font-family: $title-font;
    padding-left: 28px;
    margin-left: 28px;
    border-left: 6px solid #E5E5E5;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
}

//Animation
.loaded {
    & .first-screen__title .top,
    & .first-screen__title .bottom {
        opacity: 1;
        transform: translateX(0);
    }

    
    & .first-screen__slogan {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 2000px) {
    .first-screen__slogan {
        top: 7.4vw;
    }
}

@media (max-width: 1370px) {
    .first-screen__slogan {
        left: 27vw;
    }
}

@media (max-width: $mobile-width), (orientation: portrait) {
    .first-screen {
        background-image: url('../img/about-mobile.webp');
    }

    .first-screen__title {
        font-size: 13vw;
    }

    .first-screen__slogan {
        position: static;
        padding-left: 0;
        margin-left: 0;
        border-left: none;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 3px solid $text-color;
        width: 65%;
        font-size: 4vw;
    }
}