.six-screen {
    background-image: url('../img/fifth-bg.webp');
    background-position: left top;
    background-size: cover;
}

.six-screen__title {
    font-size: 5vh;
    max-width: 50%;
    margin-left: auto;
    margin-bottom: 7vh;
    margin-top: 7vh;
    text-align: right;
    text-transform: uppercase;
}

.six-screen__form {
    background: url('../img/overlay.webp') no-repeat center/cover;
    border-radius: 25px;
    box-shadow: inset 0px 7px 11px -4px rgba(255, 255, 255, 0.5), inset 0px 98px 100px -48px rgba(100, 71, 7, 0.3), inset 0px 1px 40px rgba(251, 173, 3, 0.3);
    padding: 3vh;
    width: 50%;
    min-width: 300px;
    margin-left: auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: inherit;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.45);        
        filter: blur(10px);       
        border-radius: 25px;
    }

    &.show {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.six-screen__form-items {
    display: flex;
    flex-wrap: wrap;
}

.six-screen__form-item {
    flex: 1 1 48%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column-reverse;

    &:first-of-type {
        margin-right: 4%;
    }
}

.six-screen__form-label {
    font-weight: bold;
    font-size: 20px;
    display: block;
    transform: translateY(100%);
    transition: 0.3s;

    &.not-empty {
        transform: translateY(0);
    }
}

.six-screen__form-input {
    @include no-btn();
    width: 100%;
    border-bottom: 2px solid $text-color;
    height: 30px;
    padding: 5px 0;
    color: $text-color;

    &:focus {
        outline: none;
        box-shadow: 0 10px 20px 0 rgba(255, 250, 250, 0.33);

        & + .six-screen__form-label {
            transform: translateY(0);
        }
    }
}

textarea.six-screen__form-input {
    height: auto;
}

.six-screen__form-footer {
    text-align: center;
}

.six-screen__form-prim {
    font-size: 14px;
    margin: 5vh auto 0;
}

@media (min-width: 2000px) {
    .six-screen__form-label {
      font-size: 1.3vw;
    }
    .six-screen__form-prim {
        font-size: 1vw;
    }
    .six-screen__form-input {
        height: 2.2vw;
        font-size: 1.3vw;
    }
}

@media (max-width: 1370px) {
    .six-screen__title {
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    .six-screen__form {
        width: 60%;
    }
}