<header class="header">
    <div class="wrapper">
        <nav class="main-nav">
            <a href="" class="main-nav__link">
                <img src="img/logo.png" alt="Ольга Фадеева" class="header__logo" width="300" height="57">
            </a>
            <ul class="main-nav__menu">
                <li>
                    <a href="" class="main-nav__link">ОБО МНЕ </a>
                </li>
                <li>
                    <a href="" class="main-nav__link">КАК РАБОТАЮ</a>
                </li>
                <li>
                    <a href="" class="main-nav__link">ЦЕНЫ </a>
                </li>
                <li>
                    <a href="" class="main-nav__link">ОТЗЫВЫ</a>
                </li>
                <li>
                    <a href="" class="main-nav__link">КОНТАКТЫ</a>
                </li>
            </ul>
            <button type="button" class="header__button button">ЗАКАЗАТЬ ПРАЗДНИК</button>
        </nav>
    </div>
</header>
